
.btnAgr{
    background-color: black;
    color: gray;
    border-radius: 10px;
    margin-left: 10px;
    border-color: white;
    

}
.btnAgr:hover{
    background-color: gray;
    color: white;
}
.barra{
    position: absolute;
    margin-top: 12px;
    margin-right: 10px;
    border-radius: 10%;
    right: 0;
    
    
}